*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;

}


/*STYLE FOR START SCREEN */
.start-screen {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.start-screen .header {
  font-size: 30px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  min-height: 80px;
  color: #FFE81F;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.start-screen .title {
  font-size: 36px;
  font-family: Trajan Pro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  padding-left: 5px;
}

#question {
  color: #0F6EFF;
}

#or {
  color: #FFFFFF;
}

#code {
  color: #FF2600;
}

#u {
  color: #AAAAAA;
}

#u2 {
  color: #FF2600;
}

.start-screen .start-btn {
  margin: 30px auto;
  font-size: 24px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  color: #AA7942;
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: center;
}
/*END OF STYLE FOR START SCREEN */



/*STYLE FOR INSTRUCTION SCREEN */
.instructions-container {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.instructions-container .header2 {
  font-size: 30px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  min-height: 80px;
  color: #FFE81F;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.instructions-container .instructions {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: #FFE81F;
  display: flex;
  flex-wrap:
  justify-content: center;

}

.instructions-container .play-btn {
  margin: 30px auto;
  font-size: 24px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  color: #FFFFFF;
  background-color: #FF2600;
  border: transparent;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}
/*END OF STYLE FOR INSTRUCTION SCREEN*/


/*START OF STYLE FOR OPTIONS SCREEN*/
.options-screen {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.options-screen .one-player {
  font-size: 36px;
  font-family: Zilap Orion Personal Use;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  padding: 50px;
  padding-right: 12px;
}

#one {
  font-family: Trajan Pro;
  font-size: 32px;
  padding-top: 11px;
}

.options-screen .choose-one {
  font-size: 21px;
  font-family: Trajan Pro;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 30 auto;
  padding-left: 20px;
}

.options-screen .options-title {
  font-size: 36px;
  font-family: Trajan Pro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  padding-left: 5px;
}

#question-select {
  color: #0F6EFF;
}

#question-select:hover {
  background-color: #FFE81F;
}

#code-select:hover {
  background-color: #FFE81F;
}

.hide {
  display: none;
}
/*END OF STYLE FOR OPTIONS SCREEN*/


/*START OF STYLE FOR MAIN GAME SCREEN*/
.main-game {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.main-game .game-board {
  max-width: 700px;
  height: 450px;
  background-color: rgba(170, 170, 170, 0.1);
  opacity: 17%;
  border-radius: 8px;
  margin: 0 auto;
}

.main-game .main-game-questions {
  padding-top: 30px;
}

#question-title {
  color: #0F6EFF;
  font-family: Trajan Pro;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

#u3 {
  color: #0F6EFF;
}

.main-game .categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  font-size: 18px;
  font-family: SF Pro Display;
  color: #FF2600;
}

.main-game .value-data {
  text-align: center;
  font-size: 30px;
  font-family: SF Pro Display;
  font-weight: bold;
  color: #FFE81F;
}


