*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}


/*STYLE FOR START SCREEN */
.start-screen {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.start-screen .header {
  font-size: 30px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  min-height: 80px;
  color: #FFE81F;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.start-screen .title {
  font-size: 36px;
  font-family: Trajan Pro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  padding-left: 5px;
}

#question {
  color: #0F6EFF;
}

#or {
  color: #FFFFFF;
}

#code {
  color: #FF2600;
}

#u {
  color: #AAAAAA;
}

#u2 {
  color: #FF2600;
}

.start-screen .start-btn {
  margin: 30px auto;
  font-size: 24px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  color: #AA7942;
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: center;
}
/*END OF STYLE FOR START SCREEN */



/*STYLE FOR INSTRUCTION SCREEN */
.instructions-container {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.instructions-container .header2 {
  font-size: 30px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  min-height: 80px;
  color: #FFE81F;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.instructions-container .instructions {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: #FFE81F;
  display: flex;
  flex-wrap:
  justify-content: center;

}

.instructions-container .play-btn {
  margin: 30px auto;
  font-size: 24px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  color: #FFFFFF;
  background-color: #FF2600;
  border: transparent;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}
/*END OF STYLE FOR INSTRUCTION SCREEN*/


/*START OF STYLE FOR OPTIONS SCREEN*/
.options-screen {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.options-screen .one-player {
  font-size: 36px;
  font-family: Zilap Orion Personal Use;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  padding: 50px;
  padding-right: 12px;
}

#one {
  font-family: Trajan Pro;
  font-size: 32px;
  padding-top: 11px;
}

.options-screen .choose-one {
  font-size: 21px;
  font-family: Trajan Pro;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 30 auto;
  padding-left: 20px;
}

.options-screen .options-title {
  font-size: 36px;
  font-family: Trajan Pro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  padding-left: 5px;
}

#question-select {
  color: #0F6EFF;
}

#question-select:hover {
  background-color: #FFE81F;
}

#code-select:hover {
  background-color: #FFE81F;
}

.hide {
  display: none;
}
/*END OF STYLE FOR OPTIONS SCREEN*/


/*START OF STYLE FOR MAIN GAME SCREEN*/
.main-game {
  height: 600px;
  width: 800px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  margin: 30px auto;
  border-radius: 8px;
}

.main-game .game-board {
  max-width: 700px;
  height: 450px;
  background-color: rgba(170, 170, 170, 0.1);
  opacity: 17%;
  border-radius: 8px;
  margin: 0 auto;
}

.main-game .main-game-questions {
  padding-top: 30px;
}

#question-title {
  color: #0F6EFF;
  font-family: Trajan Pro;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

#u3 {
  color: #0F6EFF;
}

.main-game .categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  font-size: 18px;
  font-family: SF Pro Display;
  color: #FF2600;
}

.main-game .value-data {
  text-align: center;
  font-size: 30px;
  font-family: SF Pro Display;
  font-weight: bold;
  color: #FFE81F;

}

.hide {
  display: none;
}

.main-game .value-data tr {
  background-color: rgba(216, 216, 216, 0.8);
}

.main-game .value-data td:hover {
  background-color: #FF2600;
  opacity:
}
/*END OF STYLE FOR MAIN GAME SCREEN*/


/*START OF STYLE FOR QUESIONS ANSWER SCREEN*/
.questions-screen {
  height: 600px;
  width: 800px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  margin: 30px auto;
  border-radius: 8px;
}

.questions-screen .question-board {
  max-width: 700px;
  height: 450px;
  background-color: rgba(170, 170, 170, 0.1);
  opacity: 17%;
  border-radius: 8px;
  margin: 0 auto;
}

.questions-screen .questions-for-game {
  padding-top: 30px;
}

#question-answer-title {
  color: #0F6EFF;
  font-family: Trajan Pro;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

#u4 {
  color: #0F6EFF;
}

#question-choice {
  font-family: SF Pro Display;
  background-color: rgba(170, 121, 66, 0.8);
  border: 1px solid yellow;
  text-align: center;
  color: #FFFFFF;
  margin: 120px auto;
  max-width: 80%;
  border-radius: 5px;

}

.btn-grid {
  font-family: SF Pro Display;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 50px auto;
  max-width: 80%;
}

.btn {
  font-family: SF Pro Display;
  color: #FFFFFF;
  background-color: rgba(170, 121, 66, 0.8);
  border: 1px solid yellow;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  border-color: #0F6EFF;
}

.btn.correct {
  background-color: green;
}

.btn.wrong {
  background-color: red;
}


.question-controls {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.next-btn {
  font-family: 'Star Jedi Hollow', arial;
  font-size: 24px;
  color: #FFE81F;
  border: transparent;
  background-color: transparent;
}
/*END OF QUESTIONS ANSWERS SCREEN */

/*START OF SCORE SCREEN*/
.score-screen {
  height: 600px;
  width: 800px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  margin: 30px auto;
  border-radius: 8px;
}

.score-screen .player-one-score {
  font-size: 24px;
  font-family: Zilap Orion Personal Use;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left:70px;
  margin: 30px;
}

.score-screen .player-score-titles {
  display: flex;
  flex-direction: row;
}

.score-screen .player-score-numbers {
  display: flex;
  justify-content: row;
}


#player-one-score {
  color: #FFE81F;
  font-size: 36px;
  font-family: SF Pro Display;
  animation-duration: 3s;
  padding-left:50px;
  margin: 30px;
}

#p2-updated-score {
  color: #FFE81F;
  font-size: 36px;
  font-family: SF Pro Display;
  animation-duration: 3s;
  padding-left:100px;
  margin: 30px;
}



.score-screen .titles-and-numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.score-screen .p2-player-two-score {
  font-size: 24px;
  font-family: Zilap Orion Personal Use;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left:100px;
  margin: 30px;
}


#one-score {
  font-family: Trajan Pro;
  font-size: 20px;
}

.score-screen .player-two-score {
  display: flex;
  font-size: 30px;
  font-family: Zilap Orion Personal Use;
  color: #FFFFFF;
}

#two-score {
  font-family: Trajan Pro;
  font-size: 20px;
  padding: 14px;
}

.score-screen .score-start-btn {
  font-size: 24px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  color: #FFFFFF;
  background-color: #FF2600;
  border: transparent;
  display: flex;
  justify-content: center;
  animation-delay: 1s;
}

.score-screen .player-two-space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 200px;
}
/*END OF SCORE SCREEN*/


.p2-options-screen {
  height: 600px;
  width: 800px;
  background-color: black;
  margin: 30px auto;
  border-radius: 8px;
}

.p2-options-screen .two-player {
  font-size: 36px;
  font-family: Zilap Orion Personal Use;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  padding: 50px;
  padding-right: 12px;
}

#p2two {
  font-family: Trajan Pro;
  font-size: 32px;
  padding-top: 11px;
}

.p2-options-screen .p2-choose-one {
  font-size: 21px;
  font-family: Trajan Pro;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 30 auto;
  padding-left: 20px;
}

.p2-options-screen .p2-options-title {
  font-size: 36px;
  font-family: Trajan Pro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  padding-left: 5px;
}

#p2-question-select {
  color: #0F6EFF;
}

#p2-question-select:hover {
  background-color: #FFE81F;
}

#p2-code-select {
  color: #FF2600;
}

#p2-code-select:hover {
  background-color: #FFE81F;
}

#p2-u {
  color: #AAAAAA;
}

#p2-u2 {
  color: #FF2600;
}

#p2-or {
  color: #FFFFFF;
}

.hide {
  display: none;
}








.win-screen {
  height: 600px;
  width: 800px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  margin: 30px auto;
  border-radius: 8px;
}

.win-screen .winner-score {
  font-size: 36px;
  font-family: Trajan Pro;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left:70px;
  margin: 30px;
  display: flex;
  justify-content: center;
  padding-right: 50px;

}


.win-screen .play-again-btn {
  font-size: 20px;
  font-family: 'Star Jedi Hollow', arial;
  font-weight: 100;
  color: #FFFFFF;
  background-color: #FF2600;
  border: transparent;
  animation-delay: 1s;
}

.win-screen .winner-button {
  display: flex;
  justify-content: center;
  padding-top: 290px;
}
